<footer class="footer" data-scroll-section>
   
<div class="footer-contact" data-scroll data-scroll-speed="5">
  <p id="contact-id" >Contact</p>
</div>

<div  class="footer-div" data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true">
<h3 style="color:rgba(0, 0, 0, 0.50)">Please feel free to contact me in email.</h3>
  <br><br><br>
  <h2 class="footer-mail "><a href="mailto:gowrisubha44@gmail.com">gowrisubha44@gmail.com <img src="/assets/vector-mWZ.png" alt="arrow"></a></h2>
  <br><br>
  <h3 style="color:rgba(0, 0, 0, 0.50)">FOLLOW ME</h3>
  <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://www.instagram.com/igowrisubha/"><i class="fa-brands fa-instagram fa-xl"></i></a></div></span>
  <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://www.linkedin.com/in/gowrisubha"><i class="fa-brands fa-linkedin fa-xl"></i></a></div></span>
  <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://github.com/Gowrisubha"><i class="fa-brands fa-github fa-xl"></i></a></div></span>
  <p class="p-footer__copyright">© Gowrisubha 2023</p>
</div>


  </footer>
  
  
</div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
<script src="/js/scroll.js"></script>
</body>
</html>