<%- include("partials/header") -%>
<section data-scroll data-scroll-section container>
<div  class="container footer-div" data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true">
    <div class="row about-section" data-scroll data-scroll-speed="2">
        <div class="col-md-6 col-sm-12 about-page-right">
                <h1 style="transform: translate(0px, 0px) ;">ABOUT ME</h1>
        </div>
        <div class="col-md-6 about-page-right">
            <h4 class="pt-4" style="transform: translate(0px, 0px);">Infusing innovation into pixels as a web creator and designer.</h4>
            <p style="transform: translate(0px, 0px);">Crafting digital worlds through code and design, weaving innovation into every pixel as a web developer and designer.</p>
        </div>
    </div>
</div>

<div class="footer-div skill-div" data-scroll-repeat="true" data-scroll data-scroll-class="scroll-class">
    <h4 class="pt-4" style="transform: translate(0px, 0px); color:black;">Skills</h4><span><hr style="transform: translate(0px, 0px);"></span>
<div class="container">
    <div class="row  skill-container">
        <div class="col-md-6 col-sm-12">
            <br><br><br>
            <h3 style="transform: translate(0px, 0px);">Frontend development。</h3>
            <br>
            <p style="transform: translate(0px, 0px);" class="skills-p">I can design and implement UI components, front-end logic development, and API integration for web applications such as React, JavaScript.</p>
        </div>
        <div class="col-md-6 col-sm-12"> <br><br><br>
            <h3 style="transform: translate(0px, 0px);">Backend development。</h3>
            <br>
            <p style="transform: translate(0px, 0px);" class="skills-p">I excel in architecting backend systems, mastering Node.js, Express.js, and Spring Boot to design robust APIs, ensuring seamless integration and optimal performance for web applications.</p>
        </div>
    </div>
    <div class="row  skill-container">
        <div class="col-md-6 col-sm-12 skill-2-div">
            
            <h3 style="transform: translate(0px, 0px);">DataBase Management。</h3>
            <br>
            <p style="transform: translate(0px, 0px);" class="skills-p">Skilled in SQL and MongoDB, I handle structured and NoSQL databases adeptly, ensuring reliable data management for varied application demands in backend development.</p>
        </div>
        <div class="col-md-6 col-sm-12"> 
            <h3 style="transform: translate(0px, 0px);">Tech-Tools。</h3>
            <br>
            <p style="transform: translate(0px, 0px);" class="skills-p">React/ Javascript/ Bootstrap/ Material UI/ CSS/ EJS/ JQuery/ Node js/ ExpressJS/ DBMS/ RestAPI/ SpringBoot/ MongoDB/ MySQL/ Figma/ Github</p>
        </div>
    </div>
</div>
</div>


<div class="footer-div skill-div mob-skill-div" data-scroll-repeat="true" data-scroll data-scroll-class="scroll-class">
    <h4 class="pt-4" style="transform: translate(0px, 0px); color:black;">Hackathon Achievements</h4><span><hr style="transform: translate(0px, 0px);"></span><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 style="transform: translate(0px, 0px);">1) Codexthon-Winner。</h3>
                <br>
                <p style="transform: translate(0px, 0px);" class="skills-p">Issued by Think India MNIT · Aug 2022.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <h3 style="transform: translate(0px, 0px);">2) HustleX- Second Runner Up。</h3>
                <br>
                <p style="transform: translate(0px, 0px);" class="skills-p">Issued by WaysAhead Global Pte.Ltd.,Singapore and IIM Lucknow-EIC · Sep 2023.</p>
                </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <h3 style="transform: translate(0px, 0px);">3) 25th - National Children's Science Congress。</h3>
                <br>
                <p style="transform: translate(0px, 0px);" class="skills-p">Issued by NCSTC, Department of Science and Technology, Govt. of Gujarat · Dec 2017.</p>
                </div>
        </div>
    </div>
</div>

</section>
<%- include("partials/footer") -%>