<%- include("partials/header") -%>
    <footer data-scroll-section>
   
        
        
        <div  class="footer-div" data-scroll-repeat="true" data-scroll data-scroll-class="scroll-class" data-scroll-speed="1">
          
        <h3 style="color:rgba(0, 0, 0, 0.50)">Please feel free to contact me in email.</h3>
          <br><br><br>
          <h2 class="footer-mail "><a href="mailto:gowrisubha44@gmail.com">gowrisubha44@gmail.com <img src="/assets/vector-mWZ.png" alt="arrow"></a></h2>
          <br><br>
          <h3 style="color:rgba(0, 0, 0, 0.50)">FOLLOW ME</h3>
          <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://www.instagram.com/igowrisubha/"><i class="fa-brands fa-instagram fa-xl"></i></a></div></span>
          <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://www.linkedin.com/in/gowrisubha"><i class="fa-brands fa-linkedin fa-xl"></i></a></div></span>
          <span class="mt-5 pt-5"> <div class="btn btn--border btn--primary btn--animated"><a href="https://github.com/Gowrisubha"><i class="fa-brands fa-github fa-xl"></i></a></div></span>
         
        </div>
        
        
          </footer>
          
          
        </div>
        
        </div>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
        <script src="/js/scroll.js"></script>
        </body>
        </html>
