<%- include("partials/header") -%>




<section data-scroll-section>
  <div class="position-relative bio-div" data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true">
    <div class="position-relative top-0 start-0  mt-5  header1-1">
      <h1 style="transform: translate(0px, 0px);">K.GOWRISUBHA</h1>
      <h1 style="transform: translate(0px, 0px);">MY PORTFOLIO SITE。</h1>
      <h4 class="pt-4" style="transform: translate(0px, 0px);">Full Stack Web Developer based in India - Tamil Nadu</h4>
    </div>
    
  </div>


</section>

<%- include("biosection/bio.ejs") -%>


<%- include("projectsection/index.ejs") -%>
<!-- Including js file inside home.js -->





<%- include("partials/footer") -%>