<!-- project section -->

<section id="gallery" class="row" data-scroll-section mt-5>

    <div class="col-lg-6 col-md-12 project-description" data-scroll data-scroll-sticky data-scroll-target="#gallery" data-scroll-speed="1">
        <span class="projects-projects position-relative"  style="transform: translate(0px, 0px);">
            Projects
        </span>
    </div>
    <div  class="col-lg-6 col-md-12 project-images">
        <div class="project-img">
            <div class="card" style="transform: translate(0px, 0px);">
                <img class="card-img-top" src="/assets/rectangle-6-bg.png" alt="project-1">
                <div class="card-body">
                  <h5 class="card-title" style="transform: translate(0px, 0px);">Hospital Management System</h5>
                  <p class="card-text" style="transform: translate(0px, 0px);">I have created a Hospital Management system designed to minimize patient wait times and optimize the
                    doctor appointment booking process. Its primary functionality involves recommending doctor
                    appointments based on multiple criteria, including patient location, disease symptoms, preferred time slots,
                    and doctor availability.</p>
                  <a href="https://github.com/Gowrisubha/hospital-management-system" class="btn btn-dark" style="transform: translate(0px, 0px);">GitHub</a>
                </div>
              </div>
        </div>
        <div class="project-img">
            <div class="card" style="transform: translate(0px, 0px);">
                <img class="card-img-top" src="/assets/rectangle-6-bg.png" alt="project-1">
                <div class="card-body" style="transform: translate(0px, 0px);">
                  <h5 class="card-title" style="transform: translate(0px, 0px);">Anonymous</h5>
                  <p class="card-text" style="transform: translate(0px, 0px);">A meticulously crafted website that harnesses the capabilities of MongoDB, Node.js, and Express.js. By implementing Google authentication, I've ensured that users can freely post their thoughts while maintaining complete confidentiality. This project reflects my dedication to creating a space that encourages open dialogue without compromising privacy.</p>
                  <a href="https://github.com/Gowrisubha/Anonymous" class="btn btn-dark" style="transform: translate(0px, 0px);">GitHub</a>
                </div>
              </div>
        </div>
        <div class="project-img">
            <div class="card" style="transform: translate(0px, 0px);">
                <img class="card-img-top" src="/assets/rectangle-6-bg.png" alt="project-1">
                <div class="card-body" style="transform: translate(0px, 0px);">
                  <h5 class="card-title" style="transform: translate(0px, 0px);">Ecommerce</h5>
                  <p class="card-text" style="transform: translate(0px, 0px);">An E-commerce website frontend using React, Bootstrap.</p>
                  <a href="https://github.com/Gowrisubha/ecommerce" class="btn btn-dark" style="transform: translate(0px, 0px);">GitHub</a>
                </div>
              </div>
        </div>
      
    </div>
    
    
</section>