<!-- bio section -->

<section id="bio-id" class="bio-section " data-scroll-section >
  
  
  
  <div class="section position-relative">
    <p data-scroll data-scroll-speed="-0.7" data-scroll-direction="horizontal" class="fs-developer">FS-DEVELOPER</p>
    
    <div class="position-absolute col-lg-6 top-50 start-50  bio-col ">
      <h3 style="transform: translate(0px, 0px);" class="p-home-about__name ">
        <span class="p-home-about__name-en">
          Gowrisubha
        </span>
        <br>
        <span style="transform: translate(0px, 0px);" class="p-home-about__name-ja">
          Gowrisubha / Full Stack Developer
        </span>
      </h3>
      <p class="p-home-about__text" style="transform: translate(0px, 0px);">
        Born in 2003 and living in India, blood type O+ve。<br>
        I am involved in Web Designing and Development using React。
      </p>
      <div>
        <p class="p-header__logo mt-5" style="transform: translate(0px, 0px);">
          <a href="/" class="p-header__logo-link">
            <span class="p-header__logo-text">
              <i class="fa-solid fa-circle"></i>
            </span>
            <span class="p-header__logo-change">
              <span class="p-header__logo-head" >
                View more
              </span>
              <span class="p-header__logo-foot">
                About Me
              </span>
            </span>
          </a>
        </p>
        
      </div>
    </div>
  </div>
  

  
  

</section>
