<!-- bio section -->

<section class="bio-section" data-scroll-section >
  <div class="section">
    <p data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" class="fs-developer">FS-DEVELOPER</p>
    
  </div>
  
  <div class="position-absolute col-lg-6  end-0 bio-col image-mask">
    <h3 class="p-home-about__name data-scroll">
      <span class="p-home-about__name-en">
        Gowrisubha
      </span>
      <br>
      <span class="p-home-about__name-ja">
        Gowrisubha / Full Stack Developer
      </span>
    </h3>
    <p class="p-home-about__text">
      Born in 2003 and living in India, blood type O+ve。<br>
      I am involved in Web Designing and Development using React。
    </p>
    <div class="grp1">
      <a class="viewmore" href="/about">
        <i class="fa-solid fa-circle"></i>
        <span class="ms-2 ">View more</span>
      </a>
    </div>
  </div>

  
  

</section>
